html,
body {
  padding: 0px;
  margin: 0px;
}
nav{
grid-area: menu;
}
main {
  grid-area: seccion-principal;
}

footer {
  grid-area: pie-de-pagina;
  background: black;
  color: white;
  text-align: center;
}
.contenedor {
  display: grid;
  grid-template-rows: 10% 10% 70% 10%;
  grid-template-areas:
    "menu"
    "busqueda"
    "seccion-principal"
    "pie-de-pagina";
    height: 100vh;
}
.menu{
    display: flex;
    background: blue;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 200px;
  }
  .list{
    display: none;
  }

.filter{
  grid-area: busqueda;
  background-color: #ececff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding-bottom: 1.5em;
}
.container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.principal-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 25em;
  }
  .card img{
    width: 100%;
  }
  .card-hide{
    display: none;
  }
  .card button{
    background-color: blue;
    color: white;
  }

  .flex-item{
  display: flex;
  justify-content: center;
  align-items: center;
  }
 
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  gap: 10px;
}

